<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Shreyas Makde</h2>
  <p>
     Adept in a wide range of software development technologies, I currently work with DISA Global Solutions as a Software Engineer, primarily on the ASP.NET platform. 
     In addition to my 5 years of Software Development Experience, I have a Master’s degree in Computer Science, Bachelors in Electronics Engineering, and plenty of volunteer experience. 
     Via Microsoft Philanthropies, I received a Microsoft-Teals Program Award for teaching Object Oriented Java to AP computer science students, at HISD
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
