<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Details</h2>
  <p>
    Dedicated Full-Stack Software Engineer with in-depth knowledge of Software Development Platforms and loads of client-side and server-side technologies. Adept in cross-platform and native mobile applications for Android and iOS. A dedicated team player with lots of volunteering experience and customer service experience. 
  </p>
  <address>
    <h4>Workplace</h4>
    <p>
      DISA Global Solutions<br>
      10900 Corporate Centre Dr. Houston, TX, 77025
    </p>
    <h4>Reach Me At: </h4>
    <a href="tel:832.670.1636">+1 (832) 670-1636</a><br>
    <a href="mailto:shreyasmakde@gmail.com">shreyasmakde@gmail.com</a>
  </address>
</div>